body {
    font: 18px Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #333;
}

h1 {
    color: rgb(143, 143, 143);
}

.container{
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
}

.input-border{
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button 
{ 
    -webkit-appearance: none;
}

input[type=number] 
{ 
   -moz-appearance: textfield;
   appearance: textfield;
}

#tl{
    position: relative;
    bottom: -50px;
    right: 210px;
}

#tr{
    position: relative;
    bottom: -30px;
    left: 210px;
}

#br{
    position: relative;
    bottom: -360px;
    left: 210px;
}

#bl{
    position: relative;
    bottom: -340px;
    right: 210px;
}

#box-preview{
    width: 400px;
    height: 300px;
    resize: none;
}
